@font-face {
  font-family: 'Maison Neue Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./public/fonts/MaisonNeueMono-Bold.ttf') format('truetype'),
    url('./public/fonts/MaisonNeueMono-Bold.woff2') format('woff2'),
    url('./public/fonts/MaisonNeueMono-Bold.woff') format('woff');
}
