@font-face {
  font-family: 'Maison Neue Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/MaisonNeueMono-Bold.ttf') format('truetype'),
    url('/fonts/MaisonNeueMono-Bold.woff2') format('woff2'),
    url('/fonts/MaisonNeueMono-Bold.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}
